@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(219, 43, 96, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.child-div {
  padding: 10px 10px 10px 10px;
  background-color: white;
  width: 500px;
  text-align: center;
  border-radius: 30px;
}
h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}

.input-div {
  /* border: rgb(50, 148, 205) 1px solid; */
  padding: 4px 4px 4px 4px;
}
input {
  font-size: 27px;
  padding: 10px 2px 10px 2px;
  text-align: center;
  border: none;
  font-family: "Itim", cursive;
  outline: none;
  margin-right: 6rem;
}
.input-div Button {
  /* background-color: rgb(170, 200, 255); */
  border-radius: 20px;
  font-size: 20px;
  color: black;
  height: 45px;
}

.todo-list Button {
  border: 1px solid rgb(158, 158, 212);
  margin: 15px 10px 15px 10px;
  border-radius: 20px;
}
.todo-list h2 {
  /* border: brown 1px solid; */
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}
.todo-list {
  text-align: left;
  margin-bottom: 10px;
  font-family: "Itim", cursive;
}
